.Auth-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 450px;
  height: 100vh;
  margin: 0 auto;
  padding: 0 15px;

  .Auth-form {
    width: 100%;
    margin-top: 20px;

    .loginButton {
      width: 100%;
      margin: 10px 0;
      padding: 15px;
      background-color: var(--primary-blue-color);
      border-radius: 12px;
      border: none;
      cursor: pointer;
      color: white;
      font-size: 17px;
    }

    .noPassword {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .SMS_Signup {
        text-decoration: none;
        color: var(--primary-blue-color);
        cursor: pointer;
      }
    }

  }
}