:root {
  --dark-background-primary-color: #0e1013;
  --dark-background-secondary-color: #17181b;
  --dark-background-tertiary-color: #202124;
  --dark-button-primary-color: #473cb0;
  --dark-button-secondary-color: #6c61ce;
  --dark-text-color: #f8f9fa;
  --dark-border-color: #5f6368;
  --dark-icon-color: #5f52da;

  --primary-blue-color: #28539C;

  --light-background-primary-color: #fff;
  --light-background-secondary-color: #f8f9fa;
  --light-background-tertiary-color: #f1f3f4;
  --light-button-primary-color: #28539c;
  --light-button-secondary-color: #417ce4;
  --light-text-color: #0e1013;
  --light-text-secondary-color: #888;
  --light-text-tertiary-color: #999;
  --light-border-color: #80868b;
  --light-icon-color: #28539c;
}