.dialogActions {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 35px;
}

.metamask_input_box {
    margin-top: 8px;
    width: 94%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 15px;
    color: #333;
    outline: none;
}

.actionButton {
    padding: 12px 36px;
    background-color: #1d4c85;
    border-radius: 32px;
    outline: none;
    color: #fff;
    font-weight: 500;
    border: none;
    cursor: pointer;

    @media screen and (max-width: 550px) {
        padding: 6px 18px;
    }
}

.cancelButton {
    padding: 12px 36px;
    background-color: #9b9b9b;
    border-radius: 32px;
    color: #fff;
    font-weight: 500;
    outline: none;
    border: none;
    cursor: pointer;

    @media screen and (max-width: 550px) {
        padding: 6px 18px;
    }
}

.MuiDialogContent-root {
    @media screen and (max-width: 550px) {
        width: fit-content !important;
    }
}