.userProfileBlock {
    margin-top: 3px;
    margin-left: 13px;

    .mainTitle {
        font-weight: 700;
        font-size: 22px;
    }

    .infoBlock {
        margin-top: 22px;

        .info {
            font-weight: 300;
            font-size: 17px;
            text-transform: capitalize;
            margin-top: 5px;
        }

        .info-caps {
            font-weight: 300;
            text-transform: uppercase;
            margin-top: 5px;
        }

        .subTitle {
            font-weight: 600;
            font-size: 17px;
            margin-top: 15px;
        }

        .metamask_alert_button {
            margin-top: 5px;
            padding: 8px;
            background-color: var(--primary-blue-color);
            border-radius: 7px;
            border: none;
            color: white;
            font-size: 15px;
            font-weight: 600;
            cursor: pointer;
        }

        .horizontal {
            display: inline-block;

            .rightHorizontal {
                margin-left: 100px;
            }

            .metamask_alert_msg {
                font-style: italic;
            }
        }
    }

}