.navbar{
    height: 50px;
    border-bottom: 1px solid var(--light-border-color);
    display: flex;
    align-items: center;
    font-size: 14px;
    color: var(--light-text-color);

    .wrapper{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        height: 100%;
        padding: 20px;
    }

    .items{
        display: flex;
        align-items: center;

        .item{
            display: flex;
            align-items: center;
            margin-right: 20px;

            &:last-child{
                margin-right: 0;
            }

            .icon{
                font-size: 20px;
                color: var(--light-icon-color);
            }
        }
    }
}